
:root {
    --edit: #61ff05;
    --date: #999999;
    --info: #888888;
    --title: #e6e6e6;
    --trash: rgb(173, 80, 80);
    --desc: rgb(143, 143, 143);
}

.singlePost {
    flex: 9;
    padding-bottom: 50px;
}
.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg {
    width: 100%;
    height: 40vw;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostTitle {
    text-align: center;
    color: white;
    margin: 10px;
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
}

.singlePostTitleInput {
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
  background-color: inherit;
}

.singlePostTitleInput:focus {
  outline: none;
}
  
  .singlePostEdit {
    float: right;
    font-size: 16px;
  }
  
  .singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .singlePostIcon:first-child {
    color: var(--edit);
  }
  .singlePostIcon:last-child {
    color: var(--trash);
  }
  
  .singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--info);
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
  }
  
  .singlePostAuthor{
    margin-left: 5px;
  }
  
  .singlePostDesc {
    color: var(--desc);
    font-size: 18px;
    line-height: 25px;
  }
  
  .singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  }
  .singlePostButton {
    width: 100px;
    border: none;
    background-color: rgb(36, 110, 54);
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
  }
  .singlePostButton:hover {
    background-color: rgb(48, 148, 73);
  }
  .singlePostDescInput {
    border: solid 1px rgb(92, 92, 92);
    color: #666;
    font-size: 18px;
    line-height: 25px;
    background-color: inherit;
  }
  
  .singlePostDescInput:focus {
    outline: none;
  }